.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.egg-info/
*.egg
*.eggs/
*.eggs.zip
*.eggs.tar.gz
*.eggs.tar.bz2
*.eggs.tar.xz
*.eggs.tar.lzma
*.eggs.tar.lz
*.eggs.tar.lz4
*.eggs.tar.zst